@font-face {
    src: url(../fonts/Rubik-Regular.ttf);
    font-family: 'Rubik-Regular';
}

@font-face {
    src: url(../fonts/Rubik-Light.ttf);
    font-family: 'Rubik-Light';
}

@font-face {
    src: url(../fonts/Rubik-Bold.ttf);
    font-family: 'Rubik-Bold';
}