@import 'font.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1110px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.flex-wrap
{
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

body {
    font-family: 'Rubik-Regular';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn {
    color: #ffffff;
    line-height: 19px;
    background: #2A86B1;
    border-radius: 30px;
    padding: 7px 62px;
}

.btn:hover{
    color: #2A86B1;
    background: #ffffff;
}
/* Header */

nav{
    /* view-height */
    height: 100vh;
    width: 100px;
    position: fixed;
    background: #ffffff;
    padding: 30px 15px;
    overflow: hidden;
    transition: 250ms;
}

nav:hover{
    width: 234px;
}

.logo{
    font-size: 60px;
    color: #3FA5D5;
}

.nav_menu_link{
    display: flex;
    align-items: center;
    color: #939393;
    font-size: 18px;
    transition: color 0.5s;
}

.nav_menu_link span{
    
    margin: 27px 30px 27px 15px;
    font-size: 35px;

}
.nav_menu li:nth-of-type(3) span, 
.nav_menu li:last-of-type span {
    font-size: 45px;
}

.nav_menu_link:hover{
    color: #2A86B1;
}

main{
    background: #E5E5E5;
    padding: 30px 44px;
}
.main__info{
    padding: 111px 62px;
    background: url(../images/main_bg.jpg) no-repeat center/cover ;
    border-radius: 15px;
}
h1{
    width: 335px;
    color: #464748;
    font-size: 50px;
    line-height: 59px;
}

.info__text {
    color: #696868;
    line-height: 19px;
    width: 315px;
    margin: 25px 0;
}

.cards{
    margin: 30px 0 48px;
}

.cards__item{
    background: #ffffff;
    width: 255px;
    border-radius: 15px;
    padding: 32px 0 19px;
}

.cards__title {
    font-size: 20px;
    color: #2A86B1;
    line-height: 24px;
    width: 218px;
    text-align: center;
}

.cards__icon{
    margin: 59px 0 77px;
    font-size: 100px;
    color: #3FA5D5;
}

.cards__item:nth-of-type(3) .cards__icon{
    margin-top: 35px;
}

.main__left{
    width: 825px;
}

.left__title, .right__title{
    color: #686868;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
}

.left__text{
    background: #ffffff;
    color: #545454;
    line-height: 19px;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.left__text:last-of-type{
    margin-bottom: 0;
}

.main__right{
    width: 255px;
}

.right__item{
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.right__item:last-of-type{
    margin-bottom: 0;
}

.right__item-desc{
    width: 155px;
}

.right__item-desc h3{
    color: #323232;
    font-size: 17px;
    line-height: 16px;
}

.right__item-desc p{
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;
    font-family: 'Rubik-Light';
}

footer{
    background: #3FA5D5;
    padding: 40px 0;
}

.footer__title{
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
}

.footer__contacts{
    align-items: flex-end;
    padding-top: 2px;
}

.phone{
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    font-family: 'Rubik-Bold';
}

.mail{
    color: #ffffff;
    line-height: 19px;
}